*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    color: white;
    background: black;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

html,body{
    overflow-x: hidden;
    overflow-y: hidden;
 }

.topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav h2 {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.7rem;
    background-color: red;
}

.container{
    width: 40rem;
    height: 9rem;
    /*background-color: red;*/
    position:absolute;
    top:50%;
    left:33%;
    margin-top:-50px; /* this is half the height of your div*/  
    margin-left:-100px; /*this is half of width of your div*/
}

.container h1{
    text-align: center;
    font-size: 3rem;
}

.url{
    text-align: center;
    /*background-color: aqua;*/
    height: 4rem;
    padding-top: 0.5rem;
}

.url input{
    height: 2.7rem;
    width: 28rem;
    font-size: 1.6rem;
    outline: none;
    text-align: center;
    
}

.url button{
        font-size: 2rem;
        height: 3.1rem;
        width: 11rem;
        cursor: pointer;
        color: white;
        background-color: red;   
        border: none;  
}
