*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    color: white;
    background: black;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

html,body{
    /*overflow-x: hidden;
    overflow-y: hidden;*/
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
 }

.topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav h2 {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.7rem;
    background-color: red;
}

.container{
    width: 40rem;
    height: 9rem;
    /*background-color: red;*/
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 14rem;
}

.error-container{
    width: 40rem;
    height: 9rem;
    /*background-color: red;*/
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 14rem;
}

.container h1{
    text-align: center;
    font-size: 3rem;
}

.error-container h2{
    text-align: center;
    font-size: 3rem;
}

.error-container button{
    width: 9rem;
    height: 2.8rem;
    cursor: pointer;
    margin: auto;
    display: block;
    font-size: 2rem;
    margin-top: 1rem;
}

.error-container a{
    text-decoration: none;
}

.url{
    text-align: center;
    /*background-color: aqua;*/
    height: 4rem;
    padding-top: 0.5rem;
}

.url input{
    height: 2.7rem;
    width: 28rem;
    font-size: 1.6rem;
    outline: none;
    text-align: center;
}

.url button{
        font-size: 2rem;
        height: 3.1rem;
        width: 11rem;
        cursor: pointer;
        color: white;
        background-color: red;   
        border: none;  
}

#footer {
    position:fixed;
    left:0rem;
    bottom:0rem;
    height:4rem;
    width:100%;
    background:red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
 }

#fcontent{
    padding-top: 1rem;
 }

 h1 a{
    color: white;
}

